<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<script src="https://kit.fontawesome.com/f9284bc325.js"></script>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('/bundles/css/style.css') }}"/>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

			<link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet">
		{% endblock %}

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				Forum du codeur</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<div class="nav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/" title="Acceuil">
								<i class="fas fa-home fa-2x"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/forum" title="Forum">
								<i class="fas fa-comments fa-2x"></i>
							</a>
						</li>
						{% if not app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('forum_login')}}" title="Compte">
								<i class="fas fa-user-circle fa-2x"></i>
							</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('forum_create')}}" title="Crée un topic">
								<i class="fas fa-newspaper fa-2x "></i>
							</a>
						</li>
						{% if  app.user.role.titre == "admin"  %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('admin')}}" title="Admin tools">
								<i class="fas fa-toolbox fa-2x "></i>
							</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('compte_info',{'id': app.user.getId})}}" title="info Compte">
								<i class="fas fa-user-circle fa-2x"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('forum_logout')}}" title="Déconnexion">
								<i class="fas fa-sign-out-alt fa-2x"></i>
							</a>
						</li>
					</ul>
					{% endif %}
		</nav>
			<div class="container"> {% block body %}{% endblock %}</div>
					{% block javascripts %}
					<script src="{{ asset('bundles/javascript/ckeditor/adapters/jquery.js') }}"></script>
					<script src="{{ asset('bundles/javascript/ckeditor/ckeditor.js') }}"></script>
					<script src="{{ asset('bundles/javascript/p5.js') }}"></script>
					<script src="{{ asset('bundles/javascript/ajax.js') }}"></script>
					<script src="{{ asset('bundles/javascript/navigation.js') }}"></script>
					<script type="text/javascript">/</script>{% endblock %}
																																																																																																																																																															</body>
																																																																																																																																																														</html>
